@{
    ViewBag.Title = "Product Details";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="col s12">
            <a href="index.html" class="breadcrumb">Home</a>
            <a href="productlisting.html" class="breadcrumb">FriendShip Day Boxes</a>
            <a href="#!" class="breadcrumb">Flower Pattern Blue F.D. Box</a>
        </div>
        <br /><br />
        <div class="row">
            <div class="col xl4 z-depth-2 borderAll" style="padding:2%">
                <img class="responsive-img" style="width:100%" src="/images/flower_pattern_blue_open_box.jpg">
            </div>
            <div class="col xl6 offset-xl1">
                <h5 class="fontChanger">Flower Pattern Blue F.D. Box</h5>
                <span>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                    pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                    vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                    justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                </span>
                <br /><br />
                <a class="waves-effect waves-light btn borderAll ">
                    <i class="material-icons left">shopping_cart</i>Add To Cart
                </a>
                <a href="checkout.html" class="waves-effect waves-light btn brown borderAll" style="margin-left:20px;">
                    <i class="material-icons left">flash_on</i>Buy Now
                </a>
            </div>
        </div>

