.filter-btn {
    margin: 1%;
}

.btn-action{
    padding: 0 1rem!important;
}

.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.loader {
    display: flex;
    align-items: center;
    position:absolute;    
    margin: auto;
    z-index:100;
}
.mb-0 {
    margin-bottom: 0px;
}

.mt-2 {
    margin-top: 2%;
}

.pt-0 {
    padding-top: 0;
}

.breadcrumb:before {
    color: #000;
}

.padding-shift {
    padding-left: 300px;
}

#status{
    right:24px!important;
    left:auto!important;
}
@media only screen and (max-width : 992px) {
    .padding-shift {
        padding-left: 0;
    }
}
