@{
Layout="~/Views/Shared/_Layout.cshtml";
ViewBag.Title="Fairyland Chocolates | House of tasty Chocolates";
}
  <script src="~/Scripts/Custom.js"></script>
<div class="page-bg parallax">
    <div style="text-align:center;font-size:80px;padding-top:12%">
   Welcome to 
   <br/>
   <span class="fontChanger" style="font-size:150px">Fairyland Chocolate</span>
</div>
 </div>
    
    <br>
    <div class="row">
        <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white black-text darken-text-2" style="border:1px solid">Add to Cart</a>
    </div>
    <div class="carousel-item  white-text" href="#one!" style="background:url('/images/I_Love_You_Box.jpg') no-repeat center">
      <h1 class="fontChanger">Chocolate Name</h1>
      <p class="white-text">Chocolate Description</p>

    </div>
    <div class="carousel-item  white-text" href="#two!" style="background:url('/images/pink_fd_box.jpg') no-repeat center">
      <h1 class="fontChanger">Chocolate Name</h1>
      <p class="white-text">Chocolate Description</p>
    </div>
    <div class="carousel-item  white-text" href="#three!" style="background:url('/images/red_fd_open_box.jpg') no-repeat center">
      <h1 class="fontChanger">Chocolate Name</h1>
      <p class="white-text">Chocolate Description</p>
    </div>
    <div class="carousel-item  white-text" href="#four!" style="background:url('/images/cavity_luxy_box_6_open.jpg') no-repeat center">
      <h1 class="fontChanger">Chocolate Name</h1>
      <p class="white-text">Chocolate Description</p>
    </div>
  </div>
    </div>
    <div class="container clearPadding col xl-12">
        <div class="row">
            <h5 class="mainPage-CatName left fontChanger" style="font-size:30px;">FriendShip Day Boxes</h5>
            <span class="right ">
		        <a style="color:#fff !important;border: 1px solid;padding: 10px;" href="/Chocolate/FriendShip Day Boxes">VIEW ALL</a>
		    </span>
            <div class="clearfix"></div>
            <div class="row" style="font-size:18px; !important;">
                <div class="col s6 m4 l3">
                    <div id="product-Flower_Pattern_Box" class="card hoverable waves-effect" data-url="Chocolates/Flower Pattern Box">
                        <div class="card-image" style="height:100%;">
                            <img class="mainPage-Item" src="/images/flower_pattern_blue_open_box.jpg">
                            <!-- <span class="card-title">Item Name</span> -->
                        </div>
                        <div id="product-24567890" class="card-content" style="padding-left: 15px;padding-bottom: 20px;">
                            <span class="card-title" style="font-size:20px;">
                                <span class="fontWhite">Flower Pattern Box</span>
                            </span>
                            <p>&#8377;245</p>
                        </div>
                        <div class="card-action">
                            <a class="cartAdd" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col s6 m4 l3">
                    <div id="product-Golden_Dazzling_Box"  class="card hoverable waves-effect" data-url="Chocolates/Golden Dazzling Box">
                        <div class="card-image" style="height:100%;">
                            <img class="mainPage-Item" src="/images/Golden_Dazzling_fd_box.jpg">
                            <!-- <span class="card-title">Item Name</span> -->
                        </div>
                        <div class="card-content" style="padding-left: 15px;padding-bottom: 20px;">
                            <span class="card-title" style="font-size:20px;">
                                Golden Dazzling Box
                            </span>
                            <p>&#8377;255</p>
                        </div>
                        <div class="card-action">
                            <a  class="cartAdd" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col s6 m4 l3">
                    <div class="card hoverable">
                        <div class="card-image" style="height:100%;">
                            <img class="mainPage-Item" src="/images/pink_fd_box.jpg">
                            <!-- <span class="card-title">Item Name</span> -->
                        </div>
                        <div class="card-content" style="padding-left: 15px;padding-bottom: 20px;">
                            <span class="card-title" style="font-size:20px;"> F.D. Box</span>
                            <p>&#8377;250</p>
                        </div>
                        <div class="card-action">
                            <a  class="cartAdd" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col s6 m4 l3">
                    <div class="card hoverable">
                        <div class="card-image" style="height:100%;">
                            <img class="mainPage-Item" src="/images/red_fd_basket_open.jpg">
                            <!-- <span class="card-title">Item Name</span> -->
                        </div>
                        <div class="card-content" style="padding-left: 15px;padding-bottom: 20px;">
                            <span class="card-title" style="font-size:20px;">Red F.D. Basket</span>
                            <p>&#8377;250</p>
                        </div>
                        <div class="card-action">
                            <a  class="cartAdd" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="about-bg parallax" style="height:800px">
    <div style="text-align:center;padding-top:20%">
   <span class="fontChanger" style="font-size:70px">About Us</span>
</div>
</div>
<div class="container clearPadding col xl-12">
        <div class="row">
            <h5 class="mainPage-CatName left fontChanger" style="font-size:30px;">Cavity Boxes</h5>
            <span class="right"><a style="color:#fff !important;border: 1px solid;
    padding: 10px;"  href="#">VIEW ALL</a></span>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col s6 m4 l3">
                    <div class="card hoverable">
                        <div class="card-image" style="height:100%;">
                            <img class="mainPage-Item" src="/images/cavity_luxury_box.jpg">
                            <!-- <span class="card-title">Item Name</span> -->
                        </div>
                        <div class="card-content" style="padding-left: 15px;padding-bottom: 20px;">
                            <span class="card-title" style="font-size:20px;">Cavity Luxury Box 4 Packet</span>
                            <p>&#8377;250</p>
                        </div>
                        <div class="card-action">
                            <a  class="cartAdd" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col s6 m4 l3">
                    <div class="card hoverable">
                        <div class="card-image" style="height:100%;">
                            <img class="mainPage-Item" src="/images/cavity_luxy_box_6_open.jpg">
                            <!-- <span class="card-title">Item Name</span> -->
                        </div>
                        <div class="card-content" style="padding-left: 15px;padding-bottom: 20px;">
                            <span class="card-title" style="font-size:20px;">Cavity Luxury Box 6 Packet</span>
                            <p>&#8377;250</p>
                        </div>
                        <div class="card-action">
                            <a  class="cartAdd" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col s6 m4 l3">
                    <div class="card hoverable">
                        <div class="card-image" style="height:100%;">
                            <img class="mainPage-Item" src="/images/cavity_luxy_box_12_open.jpg">
                            <!-- <span class="card-title">Item Name</span> -->
                        </div>
                        <div class="card-content" style="padding-left: 15px;padding-bottom: 20px;">
                            <span class="card-title" style="font-size:20px;">Cavity Luxury Box 12 Packet</span>
                            <p>&#8377;250</p>
                        </div>
                        <div class="card-action">
                            <a  class="cartAdd" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col s6 m4 l3">
                    <div class="card hoverable">
                        <div class="card-image" style="height:100%;">
                            <img class="mainPage-Item" src="/images/I_Love_You_Box.jpg">
                            <!-- <span class="card-title">Item Name</span> -->
                        </div>
                        <div class="card-content" style="padding-left: 15px;padding-bottom: 20px;">
                            <span class="card-title" style="font-size:20px;">I Love You Box</span>
                            <p>&#8377;250</p>
                        </div>
                        <div class="card-action">
                            <a  class="cartAdd" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="default-bg parallax">
    <div style="text-align:center;padding-top:20%">
   <span class="fontChanger" style="font-size:70px">Contact Us</span>
</div>
</div>