@{
Layout="~/Views/Shared/_Layout.cshtml";
}
<div class="default-bg parallax">
    <div style="text-align:center;font-size:80px;padding-top:12%;height:100vh">
   Welcome to 
   <br/>
   <span class="fontChanger" style="font-size:150px">Fairyland Chocolate</span>
   </div>
    <nav class="" style="
         position: fixed;
         z-index: 1;
         background-color: transparent;
             -webkit-box-shadow: none;
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* background-repeat: repeat-y; */
    top: 0;
    ">
    <div class="nav-wrapper category-menu" style="
    /* position: fixed; */
    /* z-index: 1; */
    background-color: rgba(114, 57, 17, 0.9);
    ">
    <a href="#!" class="brand-logo web-sitename hide-on-large-only fontChanger">FairyLand Chocolate</a>
    <ul class="right hide-on-med-and-down">
        <li><a href="#">Track Order</a></li>
        <li><a href="#">Hi! User</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="register.html">Register</a></li>
    </ul>

    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="slide-out" class="side-nav" style="transform: translateX(-100%);">
        <li><a href="#!">Hi! User</a></li>
        <li><a href="#!">Track Order</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="register.html">Register</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header">Category<i class="material-icons right">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#!">Birthday</a></li>
                            <li><a href="#!">Anniversary</a></li>
                            <li><a href="#!">Surprise</a></li>
                            <li><a href="#!">Party</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    </div>
    <div class="row nav-wrapper darken-3 margin-bottom-0" style="
    /* border-bottom: 1px solid; */
    background-color: rgba(114, 57, 17, 0.9);
    ">
    <a href="./index.html" style="font-size: 35px;" class="brand-logo web-sitename hide-on-med-and-down fontChanger">FairyLand  Chocolate</a>
    <form class="col xl6 offset-xl3 l6 offset-l3 m8 s8 darken-2 pull-s1" style="
          border: 1px solid;
          ">

        <div class="input-field">
            <input id="search" type="search" required="" placeholder="Search for...">
            <label class="label-icon active" for="search" style="top:-10px"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
    </form>
    <div class="col xl3 l3 m2 s1 pull-s1">
        <a href="checkout.html" class="waves-effect waves-light btn darken-2 valign-wrapper hide-on-med-and-down" style="height:100%;line-height:64px;border: 1px solid;">
            <span class="badge right  darken-3 white-text badge-web">0</span>
            <i class="material-icons right">shopping_cart</i>Cart
        </a>
        <a class="waves-effect waves-light btn  darken-2 center-align
                 hide-on-large-only show-on-medium-and-down" style="height:100%;line-height:64px">
            <i class="material-icons mob-menu-icon">shopping_cart</i>
        </a>
    </div>
    </div>
    <div class="row darken-3 hide-on-med-and-down" style="
         border-bottom: 1px solid;
         background-color: rgba(114, 57, 17, 0.9);
         ">
        <div class="nav-wrapper category-menu col xl6 offset-xl3 l8 offset-l3 m12 s12">
            <ul>
                <li>
                    <a class="dropdown-button" href="#!" data-activates="birthday">Birthday<i class="material-icons right category-menu">arrow_drop_down</i></a><ul id="birthday" class="dropdown-content" style="width: 100%; left: 11.25px; white-space: nowrap; position: absolute; top: 36px; display: none; opacity: 1;">
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li><a href="#!">three</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-button" href="#!" data-activates="anniversarry">Anniversary<i class="material-icons right category-menu">arrow_drop_down</i></a><ul id="anniversarry" class="dropdown-content" style="width: 100%; left: 129.828px; white-space: nowrap; position: absolute; top: 36px; display: none; opacity: 1;">
                        <li><a href="#!">onsdae</a></li>
                        <li><a href="#!">twasdo</a></li>
                        <li><a href="#!">thrsadee</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-button" href="#!" data-activates="surprise">Surprise<i class="material-icons right category-menu">arrow_drop_down</i></a><ul id="surprise" class="dropdown-content" style="width: 100%; white-space: nowrap; position: absolute; top: 36px; left: 262.438px; display: none; opacity: 1;">
                        <li><a href="#!">onsaasdde</a></li>
                        <li><a href="#!">twasdsado</a></li>
                        <li><a href="#!">thxcxzcree</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-button" href="#!" data-activates="party">Party<i class="material-icons right category-menu">arrow_drop_down</i></a><ul id="party" class="dropdown-content" style="width: 100%; white-space: nowrap; opacity: 1; left: -246.219px; position: absolute; top: 36px; display: none;">
                        <li><a href="#!">onwqee</a></li>
                        <li><a href="#!">twerwo</a></li>
                        <li><a href="#!">threree</a></li>
                    </ul>
                </li>
            </ul>

            <div>

            </div>
            <div>



            </div>
        </div>
    </div>

    </nav>
    <div class="clearfix"></div>
    <!--<img src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/983916_1176602469116721_713432411779949795_n.jpg?oh=95b823caa11ddea817c925c11498bac1&oe=59F0BC77" class="mainBanner"/>-->

   
 <div class="page-bg parallax">
    <div style="text-align:center;font-size:80px;padding-top:12%">
   Welcome to 
   <br/>
   <span class="fontChanger" style="font-size:150px">Fairyland Chocolate</span>
</div>
 </div>
    
    <br>
    <div class="row">
        <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white black-text darken-text-2" style="border:1px solid">Add to Cart</a>
    </div>
    <div class="carousel-item  white-text" href="#one!" style="background:url('./images/I_Love_You_Box.jpg') no-repeat center">
      <h1 class="fontChanger">Chocolate Name</h1>
      <p class="white-text">Chocolate Description</p>

    </div>
    <div class="carousel-item  white-text" href="#two!" style="background:url('./images/pink_fd_box.jpg') no-repeat center">
      <h1 class="fontChanger">Chocolate Name</h1>
      <p class="white-text">Chocolate Description</p>
    </div>
    <div class="carousel-item  white-text" href="#three!" style="background:url('./images/red_fd_open_box.jpg') no-repeat center">
      <h1 class="fontChanger">Chocolate Name</h1>
      <p class="white-text">Chocolate Description</p>
    </div>
    <div class="carousel-item  white-text" href="#four!" style="background:url('./images/cavity_luxy_box_6_open.jpg') no-repeat center">
      <h1 class="fontChanger">Chocolate Name</h1>
      <p class="white-text">Chocolate Description</p>
    </div>
  </div>
    </div>
    <div class="container" style="width:85%;">
        
        <div class="row">
            <h5 class="mainPage-CatName left fontChanger" style="font-size:30px;">FriendShip Day Boxes</h5>
            <span class="right "><a style="color:#fff !important;border: 1px solid;
    padding: 10px;" href="productlisting.html">VIEW ALL</a></span>
            <div class="clearfix"></div>
            <div class="row" style="font-size:18px; !important;">
                <div class="col s6 m4 l3">
                    <div class="card hoverable">
                        <div class="card-image" style="height:100%;">
                            <img class="mainPage-Item" src="./images/flower_pattern_blue_open_box.jpg">
                            <!-- <span class="card-title">Item Name</span> -->
                        </div>
                        <div class="card-content" style="padding-left: 15px;padding-bottom: 20px;">
                            <span class="card-title" style="font-size:20px;">
                                <a class="fontWhite" href="productdetails.html">Flower Pattern Blue F.D. Box</a>
                            </span>
                            <p>₹250</p>
                        </div>
                        <div class="card-action">
                            <a class="cartAdd" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col s6 m4 l3">
                    <div class="card hoverable">
                        <div class="card-image" style="height:100%;">
                            <img class="mainPage-Item" src="./images/Golden_Dazzling_fd_box.jpg">
                            <!-- <span class="card-title">Item Name</span> -->
                        </div>
                        <div class="card-content" style="padding-left: 15px;padding-bottom: 20px;">
                            <span class="card-title" style="font-size:20px;">
                                Golden Dazzling F.D. Box
                            </span>
                            <p>₹250</p>
                        </div>
                        <div class="card-action">
                            <a  class="cartAdd" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col s6 m4 l3">
                    <div class="card hoverable">
                        <div class="card-image" style="height:100%;">
                            <img class="mainPage-Item" src="./images/pink_fd_box.jpg">
                            <!-- <span class="card-title">Item Name</span> -->
                        </div>
                        <div class="card-content" style="padding-left: 15px;padding-bottom: 20px;">
                            <span class="card-title" style="font-size:20px;"> F.D. Box</span>
                            <p>₹250</p>
                        </div>
                        <div class="card-action">
                            <a  class="cartAdd" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col s6 m4 l3">
                    <div class="card hoverable">
                        <div class="card-image" style="height:100%;">
                            <img class="mainPage-Item" src="./images/red_fd_basket_open.jpg">
                            <!-- <span class="card-title">Item Name</span> -->
                        </div>
                        <div class="card-content" style="padding-left: 15px;padding-bottom: 20px;">
                            <span class="card-title" style="font-size:20px;">Red F.D. Basket</span>
                            <p>₹250</p>
                        </div>
                        <div class="card-action">
                            <a  class="cartAdd" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="about-bg parallax" style="height:800px">
    <div style="text-align:center;padding-top:20%">
   <span class="fontChanger" style="font-size:70px">About Us</span>
</div>
</div>
<div class="container" style="width:85%">
        <div class="row">
            <h5 class="mainPage-CatName left fontChanger" style="font-size:30px;">Cavity Boxes</h5>
            <span class="right"><a style="color:#fff !important;border: 1px solid;
    padding: 10px;"  href="#">VIEW ALL</a></span>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col s6 m4 l3">
                    <div class="card hoverable">
                        <div class="card-image" style="height:100%;">
                            <img class="mainPage-Item" src="./images/cavity_luxury_box.jpg">
                            <!-- <span class="card-title">Item Name</span> -->
                        </div>
                        <div class="card-content" style="padding-left: 15px;padding-bottom: 20px;">
                            <span class="card-title" style="font-size:20px;">Cavity Luxury Box 4 Packet</span>
                            <p>₹250</p>
                        </div>
                        <div class="card-action">
                            <a  class="cartAdd" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col s6 m4 l3">
                    <div class="card hoverable">
                        <div class="card-image" style="height:100%;">
                            <img class="mainPage-Item" src="./images/cavity_luxy_box_6_open.jpg">
                            <!-- <span class="card-title">Item Name</span> -->
                        </div>
                        <div class="card-content" style="padding-left: 15px;padding-bottom: 20px;">
                            <span class="card-title" style="font-size:20px;">Cavity Luxury Box 6 Packet</span>
                            <p>₹250</p>
                        </div>
                        <div class="card-action">
                            <a  class="cartAdd" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col s6 m4 l3">
                    <div class="card hoverable">
                        <div class="card-image" style="height:100%;">
                            <img class="mainPage-Item" src="./images/cavity_luxy_box_12_open.jpg">
                            <!-- <span class="card-title">Item Name</span> -->
                        </div>
                        <div class="card-content" style="padding-left: 15px;padding-bottom: 20px;">
                            <span class="card-title" style="font-size:20px;">Cavity Luxury Box 12 Packet</span>
                            <p>₹250</p>
                        </div>
                        <div class="card-action">
                            <a  class="cartAdd" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col s6 m4 l3">
                    <div class="card hoverable">
                        <div class="card-image" style="height:100%;">
                            <img class="mainPage-Item" src="./images/I_Love_You_Box.jpg">
                            <!-- <span class="card-title">Item Name</span> -->
                        </div>
                        <div class="card-content" style="padding-left: 15px;padding-bottom: 20px;">
                            <span class="card-title" style="font-size:20px;">I Love You Box</span>
                            <p>₹250</p>
                        </div>
                        <div class="card-action">
                            <a  class="cartAdd" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="default-bg parallax">
    <div style="text-align:center;padding-top:20%">
   <span class="fontChanger" style="font-size:70px">Contact Us</span>
</div>
</div>